@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

#heading {
    font-family: 'Pacifico', cursive;
    color: #FF5E19;
}

#first{
    position: absolute;
    left: -140px;
    height: 250px;
    top: 50px
}
#second{
    position: absolute;
    right: -5px;
    height: 250px;
    top: 50px
}

main img{
    width: 100px;
    height: 180px;
}

#per-player-cost{
    width: 500%;
}